/* OTHER */

.birth,
.death {
    font-size: .65em;
}

h2 {
    text-transform: none;
    width: 100px;
    font-size: 1.15em;

}

.artist-name {
    font-size: 1.25em;
    text-transform: none;
}


/* ARTIST BIOGRAPHY */

.bio {
    width: 200px;
}

.band-photo img {
    width: 150px;
}

#artist-popout .bio h3 {
    font-size: 0.75em;
}

.bio p {
    font-size: .75em;
    
}


/* ALBUMS */

.artist-albums img {
    width: 170px;
    border: 1px solid white;
}

.artist-albums .title {
    font-size: .95em;
    text-align: center;
}

.artist-albums .year {
    font-size: .90em;
    text-align: center;
    margin-top: 5px;
}

.artist-albums .year p {
    padding: 0;
}

.artist-albums iframe {
    padding-left: 50px;
    align-content: center;
}


/* SOCIAL MEDIA */

.artist-social {
    padding: 0;
    margin: 0;
}

/* .artist-social h2 {
    text-transform: none;
    font-size: 1.25em;
} */

.artist-social ul li {
    text-decoration: none;


}

.artist-social .twitter {
    width: 25px;

}