.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    max-width: 1140px;
}
.span-col-3{grid-column: span 3 / auto;}

.span-col-2{grid-column: span 2 / auto;}


.span-row-15{grid-row: span 15 / auto;}

.span-row-20{grid-row: span 20 / auto;}
